
<div class="about-p " id="about">
    <div class="p-5"><h1 class="font-one animate__animated animate__fadeInUp fw-bold">About</h1>
    <p class="p-5 p-text"><span class="hypn">-</span>
     Software Engineer with 3+ years of experience in building scalable, responsive, and user-friendly applications. Skilled in JavaScript, TypeScript, React, Angular, Node.js, SQL, RESTful APIs and REST API integration, GraphQL, and Microservices architecture, with strong expertise in UI/UX design, performance optimization, and cross-functional collaboration. Experienced in CI/CD pipelines, cloud deployment (AWS/Azure), and Agile environments, delivering high-quality software solutions across both frontend and backend systems. Proven ability to lead teams, mentor junior developers, and manage full software development lifecycle (SDLC).
    </div>
</div>
