.about-p{
    height: auto;
    width: 100%;
    background-color:#ffffff;
    color:#000000;
}
p{
    font-size: 18px;
}
span{
    color:#4383dd; 

}
h1{
    color:#C60031;
}
.p-text{
     font-family: 'Times New Roman', Times,;
    //  font-size: 18px;
     text-transform: capitalize;
}